.Person {
  background-color: white;
  border-radius: 6px;
  height: 500px;
  margin: 12px;
  width: 350px;
}

.name {
  color: blue;
  padding: 10px;
  display: block;
  font-size: 1.5em;
}

.photo {
  border-radius: 6px;
  height: 250px;
  object-fit: cover;
  width: 250px;
}

.quote {
  color: red;
  font-style: italic;
  padding: 0 30px;
}

.superlative {
  font-size: 12px;
}