.Person {
  background-color: white;
  border-radius: 6px;
  height: 500px;
  margin: 12px;
  width: 350px;
}

.name {
  color: blue;
  padding: 0px;
  display: block;
  font-size: 1.5em;
}

.photo {
  border-radius: 6px;
  height: 225px;
  object-fit: cover;
  width: 225px;
}

.quote {
  color: red;
  font-style: italic;
  padding: 0 30px;
}

.superlative {
  font-size: 12px;
}

.RemovePerson-button {
  background-color: white;
  color: red;
  font-size: 1.25em;
  height: 50px;
  margin: 12px;
  width: 200px;
}

.RemovePerson-button:hover {
  background-color: lightgrey;
  cursor: pointer;
}